@{
    ViewData["Title"] = "Cakes";
}
<h1>Our Cakes</h1>
<div id="monthCake">
    <img src="~/pictures/valentineCake.jpg" alt="A cake" id="cakeOfTheMonth" />
    <h2>Cake of the month: Valentine Cake!</h2>
    <p>A decadent, pink infusion with flavours of love. Can you resist treating your loved one to this, or better yet, treating yourself?</p>
</div>
<div id="flexCakes">
    <div class="smallCakeDiv">
        <img src="~/pictures/chocolateCake.jpg" alt="A cake" class="smallCake" />
        <h2>Chocolate Cake</h2>
        <p>A rich chocolate cake with moist layers and a juicy frosting.</p>
    </div>
    <div class="smallCakeDiv">
        <img src="~/pictures/fruitCake.jpg" alt="A cake" class="smallCake" />
        <h2>Fruit Cake</h2>
        <p>Combining endulging layers of sponge with cream and strawberries, this cake is a winner.</p>
    </div>
    <div class="smallCakeDiv">
        <img src="~/pictures/vanillaCake.jpg" alt="A cake" class="smallCake" />
        <h2>Vanilla Cake</h2>
        <p>An enchanting vanilla cake with layer after layer of goodness.</p>
    </div>
    <div class="smallCakeDiv">
        <img src="~/pictures/redVelvet.jpg" alt="A cake" class="smallCake" />
        <h2>Red Velvet Cake</h2>
        <p>As red as love and as smooth as velvet, this cake is a must for any occasion.</p>
    </div>
</div>
<partial name="~/Views/Shared/_Cookies.cshtml" />